{% extends 'base.html' %}
{% load static %}
{% block title %} 
Register
{% endblock %} 

{% block content %}
<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a href="{% url 'main' %}" class="logo d-flex align-items-center w-auto">
                <img src="{% static 'img/logo.png' %}" alt="">
                <span class="d-none d-lg-block">OnTheClock</span>
              </a>
            </div>
            <div class="card mb-3 shadow-sm border-0">
              <div class="card-body p-4">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                  <p class="text-center small">Enter your personal details to create an account</p>
                </div>
                <hr>
                <form method="post" class="row g-3" novalidate>
                  {% csrf_token %}
                  <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    <div class="form-text">Choose a unique username.</div>
                    {% if form.username.errors %}
                      <div class="invalid-feedback d-block">
                        {{ form.username.errors }}
                      </div>
                    {% endif %}
                  </div>
                  <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <div class="form-text">We'll never share your email with anyone else.</div>
                    {% if form.email.errors %}
                      <div class="invalid-feedback d-block">
                        {{ form.email.errors }}
                      </div>
                    {% endif %}
                  </div>
                  <div class="mb-3">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                      <div class="invalid-feedback d-block">
                        {{ form.password1.errors }}
                      </div>
                    {% endif %}
                  </div>
                  <div class="mb-3">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                      <div class="invalid-feedback d-block">
                        {{ form.password2.errors }}
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                      <label class="form-check-label" for="acceptTerms">
                        I agree and accept the <a href="#">terms and conditions</a>
                      </label>
                      <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Already have an account? <a href="{% url 'pages-login' %}">Log in</a></p>
                  </div>
                </form>
              </div>
            </div>
            <div class="credits mt-3">
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
